@model My_Blog.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogPost.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogPost.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateReason)
        </dd>

    </dl>
</div>

@*Conditionally render the "Add Comment" form*@

@*Create a form t colledct the Comment from the logged in user*@

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Create", "Comment", FormMethod.Post)) 
}
@*Displaying the comments associated with the BlogPost*@


{
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.Slug)
@Html.Hidden("BlogPostId", Model.Id)

@*I would like to order these commments by descending created date*@
@foreach(var comment in Model.Comments.OrderByDescending(c =>c.Created))
{ 
    <hr/>
    <div class="row">
        Written by @comment.Author.Email on @comment.Created.ToString("MMMM d, yyyy")
    </div>
    <div class="row">
        <div class="col-md-12">
            @comment.Body
        </div>

    </div>

}

<testarea name="CommentBody" rows="5" cols="100" placeholder="Add Comment"></testarea>
<br />
<button class="btn btn-primary" type="submit">Add</button>
}



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
